@import "tailwindcss";

@keyframes zoom {
  0% { transform: scale(1.1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}


.animate-zoom {
  animation: zoom 8s linear infinite;
}

@keyframes slideUp {
  0% { transform: translateY(80px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideUp {
  animation: slideUp 1.2s ease forwards;
}

@keyframes fadeUp {
  0% { transform: translateY(40px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-fadeUp {
  animation: fadeUp 1.5s ease forwards;
}

/* Card hover layered animation */
.card-wrapper:hover .layer1 {
  transform: rotate(-8deg) scale(1);
}

.card-wrapper:hover .layer2 {
  transform: rotate(8deg) scale(1);
}
